*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(Back.jpg);
}
nav{
    background-color: #00bfff;
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
nav ul li a i{
    color: white;
}
@media (max-width: 895px){
    nav ul li{
        display: inline-block;
    }
}
.img{
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
}
.img .left3{
    display: flex;
    align-items: center;
}
.img .left3 .content3{
    padding-right: 10px;
    padding-left: 60px;
}
.img .left3 .content3 h4{
    font-size: 60px;
    padding-top: 80px;
    padding-left: 80px;
    font-family:'Copperplate', 'Papyrus', 'fantasy';
}
.img .left3 .content3 h3{
    font-size: 60px;
    padding-left: 80px;
    font-family:'Copperplate', 'Papyrus', 'fantasy';

}
.img .right3{
    overflow: hidden;
}
.img .right3 img{
    width: 500px;
    height: 500px;
    object-fit: cover; 
}
.img2{
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
}
.img2 .left{
    overflow: hidden;
} 
.img2 .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;   
}
.img2 .right{
    display: flex;
    align-items: center;
}
.img2 .right .content{
    padding-left: 10px;
}
.img2 .right .content p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
.medical {
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
}
.medical .left2{
    display: flex;
    align-items: center;
}
.medical .left2 .content2{
    padding-right: 10px;
    padding-left: 60px;
}
.medical .left2 .content2 p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
.medical .right2{
    overflow: hidden;
}
.medical .right2 img{
    width: 400px;
    height: 400px;
    object-fit: cover; 
}
@media (max-width:991px ){
    .medical .left2 .content2{
        padding-right: 10px;
        padding-left: 60px;
    }
    .img2 .right .content{
        padding-left: 10px;
    }
    .img .left3 .content3{
        padding-right: 10px;
        padding-left: 60px;
    }
}
@media(max-width:768px){
    .img{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .img2{
        width: 90%;
        grid-template-columns: 1fr;
    }
    .medical{
        width: 90%;
        grid-template-columns: 1fr;
    }
}