*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background-color: #00bfff;
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
nav ul li a i{
    color: white;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
#check:checked ~ ul{
    Left: 0;
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
}
.search-bar {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 10px;
  }
   .search-bar input {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .search-bar button {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .search-bar button:hover {
    background-color: #ddd;
  }
h1{
    text-align: center;
    padding-top: 10px;
}
.shopping-cart{
    position: absolute;
    width: 75rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    background: #fff;
    border-radius: .5rem;
}
.shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}
.shopping-cart .box img{
    height: 10rem;
    width: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
} 
.shopping-cart .box .content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.shopping-cart .box .content p{
    font-size: .9rem;
    padding-bottom: .5rem;
}
.shopping-cart .box .content span{
    color: var(--black);
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
.upload-form{
    border: 1px solid;
    position: absolute;
    right: 2rem;
    width: 35rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items:center ;
    box-shadow: var(--box-shadow);
}
.upload-form .btn{
    height: 50px;
    width: 200px;
}
.upload-form .btn button{
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg,#FAB2FF 40%,#663399);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.upload-form .btn button:hover{
    background: black;
}
.upload-form .file-name{
    position: relative;
    font-size: 18px;
    padding: 8px 12px;
    border-radius:5px ;
    margin-left: 15px;
    user-select: none;
}